/* Definición de variables CSS para el Branding de Metalúrgica Albace */
:root {
  --color-albace-orange: #EC6624;
  --color-albace-grey: #4B4C4E;
  --color-text-dark: #2A2A2A;
  --color-bg-light: #F9FAFB;
}